<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/97fbb185-4b53-4a77-9cdd-850062b2a139/resourceGroups/Ideitnti-Api-Cr/providers/Microsoft.ContainerRegistry/registries/IdentityApiZvgt</ResourceId>
    <ResourceName>IdentityApiZvgt</ResourceName>
    <ResourceGroup>Ideitnti-Api-Cr</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://identityapizvgt.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ce479437-b3ed-4340-b667-136d4f612fdc</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>